header {
    background-color: #f9b9b7;
}

nav {
    background-color: #F5D491;
}

nav li {
    color: #F06C9B;
}

.featured-products {
    background-color: #F1E0F8;
}

.featured-products,h1,h2 {
    color: #96C9DC;
}

.company {
    background-color: #61A0AF ;
}

.owner {
    background-color: #F1E0F8;
}

footer {
    background-color: #F5D491;
}

footer,p {
    color: #F06C9B;
}