/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS Begins Here */

* {
    text-align: center;
}

header {
    background-color: #f9b9b7;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.buttonsearch {
    background: none;
    border: none;
    padding: 0;
}

i {
    color:white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: transform 1s;
}

i:hover {
    transform: scale(2);
}

/* animation for toplogo */
@keyframes logoload {
    0% {
        transform: scale(0)
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.toplogo {
    height: 100px;
    animation-name: logoload;
    animation-duration: 1.3s;
}

nav {
    background-color: #F5D491;
    font-family: 'Short Stack', cursive;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.5rem;
}

nav li {
    color: #F06C9B;
    transition-property: all;
    transition-duration: 0.3s;
}

nav ul li a:hover {
    background-color: #96C9DC;
    width: 100%;
}

main {
    background-color:#61A0AF;
}

.hero {
    object-fit: fill;
    width: 100%;
    height: auto;
}

.skiplinks {
    position: absolute;
    top: -3em;
    padding: 1em 1em;
}

a:link {
    color: #F06C9B;
    text-decoration: none;
}

a:visited {
    color: #F06C9B;
}

.featured-products {
    background-color: #F1E0F8;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.featured-products,h1,h2 {
    color: #96C9DC;
}

#maincontent {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Cherry Bomb One', cursive;
    font-size: 4rem;
}

.indexh1 {
    background-color: #F1E0F8;
}

.abouth1 {
    color:#F9B9B7;
}

h2 {
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.company-all h2 {
    color: #F9B9B7;
}

h3 {
    font-family: 'Chewy', cursive;
    font-size: 1rem;
}

p {
    font-family: 'Short Stack', cursive;
    padding: 1rem;
}

.company-all p {
    color: white;
    font-size: 1.4rem;
}

.lip-products {
    border-radius: 50%;
    border: 3px solid #F9B9B7;
    height: auto;
    width: 80%;
}

.eye-products {
    border-radius: 50%;
    border: 3px solid #F9B9B7;
    height: auto;
    width: 80%;
}

.beauty-tools {
    border-radius: 50%;
    border: 3px solid #F9B9B7;
    height: auto;
    width: 80%;
}

.img-company {
    border-radius: 50%;
    border: 3px solid #F5D491;
    height: auto;
    width: 80%;
    margin-top: 2rem;
}

.img-owner {
    border-radius: 50%;
    border: 3px solid #96C9DC;
    height: auto;
    width: 80%;
}

form {
    font-family: 'Chewy', cursive;
    font-size: 1.2rem;
    color: #F9B9B7;
}

input {
    width: 80%;
    padding: 0.5rem;
    margin: 10px 0;
    box-sizing: border-box;
}

input::placeholder {
    font-family: 'Short Stack', cursive;
    color: #61A0AF;
}

input[type=search] {
    border: none;
    border-radius: 20px;
}

input[type=mailing] {
    border: none;
    border-radius: 20px;
}

input[type=text] {
    border: none;
    border-radius: 20px;
}

input[type=email] {
    border: none;
    border-radius: 20px;
}

input[type=subject] {
    border: none;
    border-radius: 20px;
}

input[type=message] {
    border: none;
    border-radius: 20px;
    padding: 3rem;
}

.buttonattach {
    background: none;
    border: none;
}

.buttonattach i {
    font-size: 3rem;
}

.send {
    margin-top: 2rem;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: none;
    font-size: 1.8rem;
    font-family: 'Short Stack', cursive;
    background-color: #F9B9B7;
    color: white;
    transition: transform 1s;
}

.send i {
    transition: none;
}

.send i:hover {
    transform: none;
}

.send:hover {
    transform: scale(1.2);
}

.company {
    background-color: #61A0AF;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.company h1 {
    color: #F9B9B7;
}

.company h2 {
    color: #F9B9B7;
}

.company p {
    color: #F5E0FA;
}

.owner {
    background-color: #F1E0F8;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.owner h2 {
    color: #F06C9B;
}

.owner p {
    color: #61A0AF;
}

.inquiry {
    background-color: #F1E0F8;
}

.hours {
    background-color: #f9b9b7;
}

.inquiry {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.inquiry h1 {
    color: #F06C9B;
}

.inquiry h2 {
    color: #F9B9B7;
}

.hours {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

table {
    width: 100%;
    color: white;
    font-family: 'Short Stack', cursive;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2.2rem;
}

tr {
    margin-top: 1.5rem;
}

.hours h2 {
    color: #61A0AF ;
}

aside i {
    font-size: 5rem;
    transition: none;
    transform: none;
}

aside i:hover {
    transform: none;
}

footer {
    background-color: #F5D491;
    line-height: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bottomlogo {
    height: 100px;
}

.buttonenter {
    background: none;
    border: none;
    font-family: 'Short Stack', cursive;
    color: white;
}

footer,p {
    color: #F06C9B;
}

.footerabout {
    font-family: 'Short Stack', cursive;
    color: #96C9DC;
}

.footercontact {
    font-family: 'Short Stack', cursive;
    color:#96C9DC
}
/*  */
@media screen and (min-width: 720px) and (max-width: 1020px) {
    nav {
        width: 100%;
    }
}
@media screen and (min-width: 1020px) {
    /* below is for header */
    .top {
        display: flex;
        flex-direction: row;
    }
    .toplogo {
        align-items: center;
        height: auto;
        width: 40%;
        padding-left: 12rem;
    }
    header {
        display: grid;
        grid-template-columns: 25% 55% 30px 30px 30px 30px
    }
    header form {
        padding-left: 15rem;
        padding-top: 3rem;
    }
    header a {
        padding-top: 3.5rem;
        padding-left: 2rem;
    }
    header br {
        display: none;
    }
    nav {
        display: flex;
        order: -1;
        width: 40%;
        padding-top: 2.3rem;
    }
    ul {
        justify-content: center;
        display: flex;
        margin-left: 2rem;
      }
    li {
        margin-right: 1.5rem;
        padding-left: 1rem;
      }
    /* below is for main content */
    main {
        display: inline-flex;
    }
    main,h1 {
        justify-content: center;
    }
    .lip-products {
        width: 73%;
        height: auto;
        margin-bottom: 2rem;
    }
    .eye-products {
        width: 80%;
        height: auto;
    }
    .beauty-tools {
        width: 80%;
        height: auto;
    }
    .skiplinks {
        top: -4em;
        left: -4em;
    }
    .company-all {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 3rem;
        padding-left: 3rem;
        padding-bottom: 2rem;
        padding-right: 3rem;
    }
    .abouth1 {
        font-size: 5.5rem;
    }
    .img-company {
        width: 70%;
        height: auto;
        margin-left: 5rem;
    }
    .company-text {
        margin-top: 3rem;
        margin-right: 8rem;
    }
    .company-text p {
        font-size: 1.7rem;
    }
    .mission h2 {
        font-size: 3rem;
    }
    .mission p {
        font-size: 1.7rem;
    }
    .vision h2 {
        font-size: 3rem;
    }
    .vision p {
        font-size: 1.7rem;
    }
    .mission {
        padding-bottom: 3rem;
        padding-top: 2rem;
    }
    .vision {
        padding-bottom: 3rem;
        padding-top: 2rem;
    }
    .owner {
        display: flex;
    }
    .img-owner {
        width: 35%;
        height: auto;
        margin-top: 2rem;
        margin-right: 5rem;
        margin-bottom: 2rem;
        order: 2;
    }
    .boss {
        padding-top: 5rem;
        margin-left: 2rem;
        margin-right: 3rem;
    }
    .owner h2 {
        font-size: 5rem;
    }
    .owner p {
        font-size: 1.7rem;
    }
    .inquiry {
        display: block;
    }
    table {
        width: 40%;
        margin-left: 28rem;
    }
    /* below is for footer */
    footer {
        display: flex;
    }
    footer .bottomlogo {
        width: 15%;
        height: auto;
        order: 1;
    }
    footer .footericons {
        font-size: 2rem;
        order: 2;
    }
    footer .footerpkg {
        width: 50%;
    }
    footer .footerabout {
        order: 3;
        padding-top: 4rem;
        padding-right: 5rem;
    }
    footer .footercontact {
        order: 4;
        padding-top: 4rem;
        padding-right: 5rem;
    }
    footer .join {
        order: 5;
        padding-top: 2rem;
    }
    footer .join p {
        margin-bottom: 0;
    }
    footer .join input {
        margin: 0;
    }
    footer p {
        order: 6
    }
    footer .copyright {
        padding-top: 10rem;
        padding-left: 4rem;
    }

}